:root {
    --color-primary: #364f6b;
    --color-secondary: #fc5185;  
    --color-tertiary: 63, 193, 201;  
    --color-text: #f5f5f5; 
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1em;  
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    background-color: rgba(var(--color-tertiary), .2);     
    background-image: url("https://res.cloudinary.com/dlu8hugb3/image/upload/v1587145406/bg-form-desktop.png");
    background-blend-mode: normal;
    background-size: cover;
    background-position: center; 
    color: var(--color-primary); 
    
}

h1 {
    font-size: 4em; 
    text-align: center; 
    padding: 1.5rem;
}

.quiz__wrapper-heading::first-letter {
    font-size: 3em; 
}


.quiz {
    width: 95%;  
    margin: 1rem auto; 
    max-width: 500px;  
    padding: 1rem; 
}

.quiz__wrapper {
    padding: 3rem;

}


.quiz__sub-heading {
    text-align: center;
    font-size: 3em;
    margin-top: 2rem; 
    padding: 1rem; 
    color: var(--color-secondary);   
}

.quiz-start {
    padding: 1.3rem 4rem;
    border-radius: 3rem;
    outline: none;
    border: none; 
    display: block;
    margin: 3rem auto 1rem auto; 
    font-size: 1.8em; 
    color: var(--color-text);  
    background: rgba(var(--color-tertiary), 1); 
    box-shadow: 0 0 1.5rem 2px;   
    border: 3px solid var(--color-primary);
    transition: all .2s;  
    

}

.quiz-start:hover, 
.quiz-start:focus {
    background: var(--color-primary);
    box-shadow: .5rem 1rem 2rem var(--color-tertiary); 
    border-bottom: 3px solid var(--color-secondary);
    border-top: 3px solid rgba(var(--color-tertiary), 1);  
    border-left: 3px solid var(--color-text);
    border-right: 3px solid var(--color-text);  
 
}

/***********************************
quiz questions styles 
*/

.quiz__box {
    width: 100%;
    padding: 1rem;
}

.quiz__tracker {
    display: flex;
    justify-content: space-between; 
}

.quiz__counter, .quiz__score {
    text-align: center;
    font-style: italic;  
    font-weight: 700; 
    color: var(--color-primary);   
    border: 1.5px solid var(--color-secondary); 
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 4px 1px;
}

.quiz__counter-number,
.quiz__score-number {
    font-size: 2em; 
    font-family: 'Fredericka the Great', cursive; 
    font-weight: 700;
}

.quiz__counter-question, 
.quiz__score-text {
    font-size: 1.2em;  
}

.quiz__info {
    font-size: 1.8em; 
    padding: 1rem; 
    text-align: center;
}


.quiz__heading {
    font-size: 2.2em; 
    font-weight: bold; 
    color: var(--color-primary); 
    padding: 1rem; 
    margin-top: 1.5rem;
    color: var(--color-primary);
    padding: 1rem;
    text-align: center; 
}

.quiz__options {
    width: 85%; 
    padding: .5rem; 
    margin: auto; 

}

.quiz__options:last-child {
    margin-bottom: 2rem; 
}


.quiz__options-list {
    width: 100%; 
    font-size: 1.7em; 
    border-radius: .2rem; 
    margin: 1rem auto;  
    cursor: pointer; 
    padding: 1.5rem 1.7rem; 
    outline: none;   
    background:  transparent; 
    border: 2px solid var(--color-primary);  
    transition: all .2s;  
     
}

.next, .quiz-start {
    cursor: pointer; 
}


.next {
    display: block;
    padding: 1.2rem 4rem; 
    border-radius: 3rem;  
    font-size: 1.5em; 
    font-weight: 700;
    margin: 1rem auto;
    color: var(--color-text);
    outline: none;
    background: var(--color-secondary); 
    border: 5px solid   var(--color-primary); 
    transition: all .2s; 
}

.next:hover {
    background:   rgba(var(--color-tertiary), 1);
    border: 5px solid   var(--color-primary);  
}

.pointer-fix {
    pointer-events: none; 
}
.correct, .wrong {
    color: rgba(255, 255, 255, 1); 
}

.correct {
    background: rgb(48, 218, 48); 
}

.wrong {
    background: red; 
}

.body-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end__heading-2 {
    font-size: 2.5em;
}

.score {
    font-size: 9em;
    background: lightgreen;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 700;
    font-family: 'Fredericka the Great', cursive;   
}


.quiz__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn__reload {
    margin-top: 4rem; 
} 

.hide {
    display: none; 
}
.bold {
    font-weight: 700; 
    color: var(--color-secondary);
}


/***************************
* MEDIA QUERY 
*/

@media only screen and (max-width: 43.75em) {
    html {
        font-size: 56.25%; 
	} 
	
	.quiz__counter-number,
	.quiz__score-number {
        font-size: 3em;
         

	}
}

@media only screen and (max-width: 31.25em) {
    html {
        font-size: 50%;  
    } 

}



