*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

/* 
Font-size: 62.5% => 1rem = 10px; 
*/
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background: #add8e6;
	line-height: 1.8;
	font-family: "Segoe UI", sans-serif;
	width: 100%;    
}

.container {
	max-width: 52.9rem;
	margin: auto;
	padding: 5rem;
}

a {
	text-decoration: none;
}

.container-img {
	display: block;
	margin: 0 auto 4.8rem auto;
}

.container-link {
	margin-bottom: 4.8rem;
}

.form-wrap {
	background: #fff;
	padding: 1.5rem 2.5rem;
	border-bottom-right-radius: 1.8rem;
	border-top-left-radius: 1.8rem;
	border-top-right-radius: 1.8rem;
}

.sign-up-info {
	font-size: 1.4rem;
	color: #4a5568;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 0.11rem;
}

.form-wrap h1 {
	color: #083e9e;
	font-family: sans-serif;
	font-size: 2.5rem;
}
.form-wrap h1,
p {
	text-align: center;
}

.form-wrap .form-group {
	margin-top: 1.5rem;
}
.form-wrap .form-group label {
	display: block;
	font-family: "Gill Sans", sans-serif;
	font-size: 1.3rem;
	color: #4a5568;
	line-height: 2;
	font-weight: 700;
}

.form-wrap .form-group input,
select {
	display: block;
	width: 100%;
	padding: 1.8rem 1.1rem;
	border-radius: 0.3rem;
	border: none;
	outline: none;
	margin-bottom: 2.7rem;
}

input[type="text"],
[type="password"],
[type="email"],
select {
	background: #edf2f7;
}
::placeholder {
	font-size: 1.9rem;
	color: #a0a0a0;
	opacity: 0.63;
}

select option {
	text-transform: capitalize;
	padding: 1.5rem 0;
}

select option::after {
	background-color: #e2e8f0;
}

.selectdiv {
	position: relative;
}

.selectdiv:after {
	content: "\f078";
	position: absolute;
	font: normal normal normal 17px/1 FontAwesome;
	color: #a9accc;
	right: 1rem;
	top: 3.4rem;
	height: 0.4rem;
	border-left: 0.1rem solid #a9accc;
	padding: 1.5rem 0rem 0rem 1.5rem;
	pointer-events: none;
}

/*To remove button from IE11*/
select::-ms-expand {
	display: none;
}

.selectdiv select {
	color: rgb(26, 32, 44);
	font-size: 1.6rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 100%;
	margin: auto;
	padding: 1rem 2.5rem;

	line-height: inherit;
}
.form-wrap button {
	width: 100%;
	padding: 1.5rem 1.1rem;
	margin: 3.5rem 0;
	background: #083e9e;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	border-bottom-right-radius: 0.6rem;
	border-top-right-radius: 0.6rem;
	border-top-left-radius: 0.9rem;
	color: #fff;
	font-weight: 700;
}

.form-wrap button:hover {
	background: #072c6d;
}

footer {
	text-align: center;
	margin-top: 2rem;
	color: #fff;
	font-size: 1.7rem;
}

.footer-link:link,
.footer-link:visited {
	color: #fff;
}

.footer-link:hover {
	border-bottom: 2px solid #083e9e;
	color: #083e9e;
}
